name: update-docs

on:
  push:
    paths:
      - src/**
      - include/**
      - .github/workflows/doxygen.yml
    branches: [ "main" ]
  pull_request:
    paths:
      - src/**
      - include/**
      - .github/workflows/doxygen.yml
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Packages
      run: sudo apt-get install -y doxygen graphviz

    - name: Generate
      run: doxygen ./Doxyfile

    - name: Publish
      env:
        CI_COMMIT_MESSAGE: Auto-generate doxygen documentation
        CI_COMMIT_AUTHOR: update-docs-ci
      # only commit and push changes on the main branch after the mr has been pushed.
      if: github.event_name == 'push'
      # Force-adds the docs directory, because the docs directory is still in .gitignore
      # to discourage changing the docs directory in a commit.
      run: |
        git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
        git config --global user.email "emproof-com@users.noreply.github.com"
        git checkout cpp-docs
        git add doc
        git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
        git push

