name: Python

on:
  push:
    branches: [ "main", "test/ci-cd" ]
    paths:
      - src/**
      - include/**
      - bindings/python/setup.py
      - bindings/python/pynyxstone.cpp
      - bindings/python/pyproject.toml
  pull_request:
    branches: [ "main" ]
    paths:
      - src/**
      - include/**
      - bindings/python/setup.py
      - bindings/python/pynyxstone.cpp
      - bindings/python/pyproject.toml

env:
  NYXSTONE_LLVM_PREFIX: "/usr/lib/llvm-15/"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      working-dir: ./bindings/python

    steps:
    - uses: actions/checkout@v3
    - name: Packages
      run: sudo apt-get install llvm-15 llvm-15-dev zlib1g-dev libzstd-dev
    - name: Build
      run: make nyxstone && pip install .
      working-directory: ${{ env.working-dir }}
    - name: Test
      run: python example.py
      working-directory: ${{ env.working-dir }}
