name: Rust

on:
  push:
    branches: [ "main" ]
    paths:
      - src/**
      - include/**
      - bindings/rust/src/**
      - bindings/rust/tests/**
  pull_request:
    branches: [ "main" ]
    paths:
      - src/**
      - include/**
      - bindings/rust/src/**
      - bindings/rust/tests/**

env:
  CARGO_TERM_COLOR: always
  NYXSTONE_LLVM_PREFIX: "/usr/lib/llvm-15/"

jobs:
  linux:
    runs-on: ubuntu-latest
    env:
      working-dir: ./bindings/rust

    steps:
    - uses: actions/checkout@v3
    - name: Packages
      run: sudo apt-get install llvm-15 llvm-15-dev zlib1g-dev libzstd-dev
    - name: Prepare
      run: make nyxstone
      working-directory: ${{ env.working-dir }}
    - name: Code quality
      run: cargo fmt --all -- --check && cargo clippy -- -D warnings
      working-directory: ${{ env.working-dir }}
    - name: Build
      run: cargo build
      working-directory: ${{ env.working-dir }}
    - name: Run tests
      run: cargo test
      working-directory: ${{ env.working-dir }}

  mac:
    runs-on: macos-latest
    env:
      working-dir: ./bindings/rust

    steps:
    - name: Prepare
      run: make nyxstone
      working-directory: ${{ env.working-dir }}
    - name: Build
      run: NYXSTONE_LLVM_PREFIX=$(brew --prefix llvm@15) cargo build
      working-directory: ${{ env.working-dir }}
    - name: Run tests
      run: NYXSTONE_LLVM_PREFIX=$(brew --prefix llvm@15) cargo test
      working-directory: ${{ env.working-dir }}
